.iframe-links{
	position: relative;
	z-index: 999;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
	text-align: left;
	position: relative;
	top: -5px;
	padding-top: 5px;
}

.iframe-links li{ list-style: none; display: inline-block; margin-right: 20px; }

@media only screen and (max-width: 767px){
	header.desktop-menu {
		display: none;
	}

	header.mobile-menu {
		display: block;
		z-index: 1000;
	}
}

@media only screen and (min-width: 768px){
	header.desktop-menu {
		display: block;
	}

	header.mobile-menu {
		display: none;
	}
}

/* mobile menu */
header.mobile-menu > ul li.logo {
	width: auto;
	display: block;
}

header.mobile-menu > ul li[class*=nav] {
	display: none;
}

header.mobile-menu.active > ul li {
	display: block;
}

header.mobile-menu > ul li:hover {
	border-top-color: transparent;
}

header.mobile-menu .menu-button {
	color: white;
	position: absolute;
	right: 0;
	font-size: 1.5em;
	padding: 15px 15px;
	cursor: pointer;
}
